:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --dark-pink-color: #FF6A6A;
    --sales-bkg: #211616B2;
    --white-color: #FFFFFF;
    --grey-color: #F8F8F8;
    --dark-grey-color: #F4F4F4B2;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
    min-height: 75px;
    display: flex
}

.header__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__icon {
    margin: 0 41px 0 0;
}

.header__search {
    fill: var(--white-color);
}

.header__search :hover,
.header__search:focus,
.header__search:active {
    fill: var(--pink-color);
}

.header__link {
    margin: 0 0 0 33px;
    fill: var(--white-color);
}

.header__link :hover,
.header__link:focus,
.header__link:active {
    fill: var(--pink-color);
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
    fill: var(--white-color);
}

.header__burger:hover,
.header__burger:focus {
    fill: var(--pink-color);
}

.header__nav {
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    text-align: center;
    border: 1px solid #999;
    padding: 20px;
    background-color: white;
    width: 230px;
    height: 764px;
    width: 150px;
    height: 723px;
}

.header__nav-title {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.nav-item__title {
    text-transform: uppercase;
    color: var(--pink-color);
    margin-bottom: 12px;
}

.nav-item__item {
    color: #6F6E6E;
    margin-bottom: 11px;
}



.brand {
    display: flex;
}

.brand-img {
    height: 764px;
    width: 800px;
}

.brand-title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: var(--sales-bkg);
}

.sales__item-woman {
    background-image: url(../img/main/woman\ 1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 0 30px 0;
}

.sales__item-man {
    background-image: url(../img/main/for\ men.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 0 30px 0;
}

.sales__item-kid {
    background-image: url(../img/main/for\ kid.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 0 30px 0;
}

.sales__item-accesories {
    width: 100%;
    background-image: url(../img/main/esesories.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 96px 0;
}

.sales__item-text {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--white-color);
}

.sales__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--pink-color)
}

.product__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.products__sub-title {
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

.products__list {
    display: flex;
    flex-wrap: wrap;

}

.products__item {
    background-color: var(--grey-color);
    margin: 47px 20px 0 0;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 30px 0 13px 18px;
}

.products__item-text {
    width: 315px;
    font-weight: 300;
    line-height: 17px;
    padding: 0 0 18px 18px;
}

.products__item-price {
    color: var(--pink-color);
    padding: 0 0 20px 18px;
}

.products__button {
    margin: 49px 0 96px 42%;
    padding: 15px 39px 13px 39px;
    border: 1px solid var(--dark-pink-color);
    font-size: 16px;
    color: var(--pink-color);
    background-color: var(--white-color);
}

.products__button:hover,
.products__button:focus,
.products__button:active {
    background-color: var(--dark-pink-color);
    color: var(--white-color);
}

.advantages {
    background-color: var(--black-bkg);
}

.advantages__title {
    display: none;
}

.advantages__list {
    display: flex;
}

.advantages__img {
    padding: 103px 0 23px 0;
}

.advantages__item-title {
    font-size: 20px;
    color: var(--white-color);
    padding: 0 0 16px 0;
}

.advantages__item-text {
    font-weight: 300;
    color: var(--white-color);
    padding: 0 0 104px 0;
}

.subscription {
    height: 448px;
    background-image: url(../img/footer/footer-bkg.png);
}

.subscription__list {
    display: flex;
}

.subscription__item-img {
    padding: 37px 0 10px 0;
}

.subscription__item-text {
    width: 360px;
    font-size: 20px;
    font-style: italic;
}

.subscription__item-title {
    padding: 110px 230px 32px 341px;
}

.subscription__form {
    padding: 0 0 0 330px;
}

.subscription__item-lower {
    font-size: 18px;
    display: block;
}

.subscription__item-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription__placeholder {
    width: 256px;
    height: 49px;
    border-radius: 30px 0 0 30px;
    background-color: var(--dark-grey-color);
}

.subscription__button {
    width: 100px;
    height: 56px;
    border-radius: 0 30px 30px 0;
    background-color: var(--pink-color);
    color: var(--white-color);
}

.subscription__button:hover,
.subscription__button:focus,
.subscription__button:active {
    transform: scale(1.3);
    transition: 1s;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black-bkg);
}

.footer__list {
    display: flex;
}

.footer__text {
    color: var(--white-color);
}

.footer__item-fcb {
    display: block;
    background-color: white;
    margin: 5px;
    width: 20px;
    text-align: center;
}

.footer__item-fcb:hover,
.footer__item-fcb:focus,
.footer__item-fcb:active {
    background-color: var(--dark-pink-color);
    fill: var(--white-color);
}

.footer__item-inst {
    display: block;
    background-color: white;
    margin: 5px;
    width: 20px;
    text-align: center;
}

.footer__item-inst:hover,
.footer__item-inst:focus,
.footer__item-inst:active {
    background-color: var(--dark-pink-color);
    fill: var(--white-color);
}

.footer__item-p:hover,
.footer__item-p:focus,
.footer__item-p:active {
    background-color: var(--dark-pink-color);
    fill: var(--white-color);
}

.footer__item-p {
    display: block;
    background-color: white;
    margin: 5px;
    width: 20px;
    text-align: center;

}

.footer__item-twit:hover,
.footer__item-twit:focus,
.footer__item-twit:active {
    background-color: var(--dark-pink-color);
    fill: var(--white-color);
}

.footer__item-twit {
    display: block;
    background-color: white;
    margin: 5px;
    width: 20px;
    text-align: center;
}

.products__item {
    position: relative;
}

.products__item-img {
    transition: filter .2s linear;
}

.buy__img {
    fill: var(--white-color);
    margin-right: 10px;
}

.buy {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s linear;
    cursor: pointer;
    background-color: transparent;
    padding: 9px 13px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
}

.products__item:hover .products__item-img {
    filter: brightness(.6);
}

.products__item:hover .buy {
    opacity: 1;

}

.active {
    display: block;
}

/* Registration */

.registration__title {
    background-color: var(--dark-grey-color);
    height: 148px;
}

.registration__title-text {
    color: var(--pink-color);
    text-transform: uppercase;
    padding: 59px 0 60px 230px;
    font-size: 24px;
}

.hiden {
    display: none;
}

.registration__form {
    display: flex;
    margin-bottom: 96px;
}

.registration__form-subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 230px;
}

.registration__form-name {
    padding: 64px 0 20px 0;
    font-size: 16px;
}

.registration__form-input {
    width: 360px;
    height: 45px;
    margin-bottom: 20px
}

.registration__form-gender {
    padding: 0 0 35px 0;
}

.registration__form-details {
    padding: 0 0 20px 0;
    font-size: 16px;
}

.registration__form-button {
    width: 167px;
    height: 50px;
    background-color: var(--pink-color);
    margin: 20px 0 0 0;
    color: var(--white-color);
    text-transform: uppercase;
}

.registration__form-button:hover,
.registration__form-button:focus,
.registration__form-button:active {
    transform: scale(1.3);
    transition: 1s;
}

.loyalty__title {
    font-size: 24px;
    margin: 64px 0 33px 50px;
    font-weight: 300;
}

.loyalti__description {
    font-size: 24px;
    font-weight: 300;
    font-weight: 300;
    margin: 22px 0 21px 50px;
}

.loyalti-list {
    display: flex;
    margin: 0 0 16px 50px;
}

.loyalti-list-text {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0 24px;
}