$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F16D7F;
$dark-pink-color: #FF6A6A;
$sales-bkg: black;
$white-color: #FFFFFF;
$grey-color: #F8F8F8;
$dark-grey-color: #F4F4F4B2;
$newArrivals-bkg: #F8F3F4;
$Arrivals-nav: #C0BDBD;
$desktop-width: 1599px;
$tablet-width: 767px;
$mobile-widht: 374px;